[submodule "94-Pu-240g"]
	path = 94-Pu-240g
	url = https://github.com/luca-fiorito-11/94-Pu-240g.git
[submodule "94-Pu-241g"]
	path = 94-Pu-241g
	url = https://github.com/luca-fiorito-11/94-Pu-241g.git
[submodule "94-Pu-239g"]
	path = 94-Pu-239g
	url = https://github.com/luca-fiorito-11/94-Pu-239g.git
[submodule "31-Ga-69g"]
	path = 31-Ga-69g
	url = https://github.com/luca-fiorito-11/31-Ga-69g.git
[submodule "31-Ga-71g"]
	path = 31-Ga-71g
	url = https://github.com/luca-fiorito-11/31-Ga-71g.git
[submodule "1-H-1g"]
	path = 1-H-1g
	url = https://github.com/luca-fiorito-11/1-H-1g
[submodule "1-H-2g"]
	path = 1-H-2g
	url = https://github.com/luca-fiorito-11/1-H-2g
[submodule "1-H-3g"]
	path = 1-H-3g
	url = https://github.com/luca-fiorito-11/1-H-3g
[submodule "2-He-3g"]
	path = 2-He-3g
	url = https://github.com/luca-fiorito-11/2-He-3g
[submodule "2-He-4g"]
	path = 2-He-4g
	url = https://github.com/luca-fiorito-11/2-He-4g
[submodule "90-Th-232g"]
	path = 90-Th-232g
	url = https://github.com/luca-fiorito-11/90-Th-232g
[submodule "92-U-234g"]
	path = 92-U-234g
	url = https://github.com/luca-fiorito-11/92-U-234g
[submodule "92-U-235g"]
	path = 92-U-235g
	url = https://github.com/luca-fiorito-11/92-U-235g
[submodule "92-U-238g"]
	path = 92-U-238g
	url = https://github.com/luca-fiorito-11/92-U-238g
[submodule "94-Pu-242g"]
	path = 94-Pu-242g
	url = https://github.com/luca-fiorito-11/94-Pu-242g
