language: python

env:
  global:
    - CACHEDIR=~/mycache
    - UTILS=${CACHEDIR}/PVBV_utils
    - ACEDIR=${CACHEDIR}/ace
    - H5DIR=${CACHEDIR}/h5
    - FC='gfortran-5'
    - PYTHONPATH="${UTILS}/openmc:$PYTHONPATH"
    - OPENMC_CROSS_SECTIONS=${H5DIR}/cross_sections.xml

python:
  - "3.6"

cache:
  directories:
    - ${CACHEDIR}

stages:
  - setup
  - ace
  - hdf5
  - run
  - clean


jobs:
  include:

    - stage: setup
      name: setup cache directory
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - cmake
            - libhdf5-dev
      install:
        - rm -rf ${CACHEDIR}
        - mkdir -p ${CACHEDIR} ${ACEDIR} ${H5DIR}
        - ( cd ${CACHEDIR} && git clone https://github.com/luca-fiorito-11/PVBV_utils.git )
        - ( cd ${CACHEDIR} && git clone https://github.com/luca-fiorito-11/benchmarks.git )
        - ( cd ${UTILS} && ./install_openmc.sh )
        - mkdir -p ${UTILS}/openmc/build && cd ${UTILS}/openmc/build
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - cmake -DCMAKE_CXX_COMPILER=$(which g++-5) ..
        - make
      script: skip


    - stage: ace
      name: get ACE files
      script: bash get_releases.sh


    - stage: hdf5
      name: h5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
      install:
        - pip install pandas h5py scipy uncertainties
      script:
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - python ${UTILS}/add_ace_openmc.py ${ACEDIR} -d ${H5DIR} --libver "earliest"


    - stage: run
      name: pu-met-fast-001
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/pu-met-fast-001/openmc && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: pu-met-fast-002
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/pu-met-fast-002/openmc && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: pu-met-fast-006
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/pu-met-fast-006/openmc && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: pu-met-fast-008
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/pu-met-fast-008/openmc/case-1 && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: pu-met-fast-010
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/pu-met-fast-010/openmc && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: heu-met-fast-001-case-2
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/heu-met-fast-001/openmc/case-2 && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: heu-met-fast-002-case-1
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/heu-met-fast-002/openmc/case-1 && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: heu-met-fast-002-case-2
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/heu-met-fast-002/openmc/case-1 && ${UTILS}/openmc/build/bin/openmc )

    - stage: run
      name: heu-met-fast-003-case-1
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-5
            - gcc-5
            - g++-5
            - libhdf5-dev
            - hdf5-tools
      script:
        - chmod 777 ${H5DIR}/*
        - "export LD_LIBRARY_PATH=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - "export HDF5_ROOT=$(h5cc -showconfig | grep \"Installation point\" | cut -d: -f2 | xargs)"
        - ( cd ${CACHEDIR}/benchmarks/icsbep/heu-met-fast-003/openmc/case-1 && ${UTILS}/openmc/build/bin/openmc )

    - stage: clean
      name: clean cache directory
      script: rm -rf ${CACHEDIR}
